/* ====================================================
            ******** Fonts *********
==================================================== */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Oswald:wght@500&family=Roboto:wght@500&display=swap');
/* ====================================================
            ******** Fonts *********
==================================================== */

/* ====================================================
            ******** Font Family *********
==================================================== */
/* font-family: 'Montserrat', sans-serif;
font-family: 'Oswald', sans-serif;
font-family: 'Roboto', sans-serif; */
/* ====================================================
            ******** Font Family *********
==================================================== */

/* ====================================================
            ******** Utilitis *********
==================================================== */
.body {
    overflow-x: hidden;
    width: 100%;
}

.penguin-primary-color {
    color: #FA804C;
}

.penguin-secondary-color {
    color: #363958;
}

/* .nav-logo-text{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 1.589rem;
} */
.bg-header {
    background-color: #FFF9F4;
}

.nav-img {
    width: 18.194rem;
    height: 2.454rem;
}

.nav-link-text {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 1rem;
    color: #3C3C3C;
}

.top-banner-text {
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    font-size: 5rem;
}

.section-heading-text {
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    font-size: 3rem;
    color: #363958;
}

.buy-now-btn {
    background-image: linear-gradient(180deg, #3D4FF3 0%, #3543BC 100%);
    border-radius: 10px;
    font-family: 'Roboto', sans-serif;
    color: #FFFFFF;
    font-size: 1rem;
    font-weight: 500;
    padding: 0.7rem 2rem;
}

.card-heading-text {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 1.5rem;
    color: #363958;
}

.card-price-text {
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 2.25rem;
    color: #FA804C;
}

.card-bg {
    background-color: #F1F1F1;
}

.card-shadow {
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.05);
    padding: 1.125rem;
}

/* ====================================================
            ******** Utilitis *********
==================================================== */

/* ====================================================
            ******** Casousel Item *********
==================================================== */
.carousel-item {
    transition: transform 1s ease;
}

/* ====================================================
            ******** Casousel Item *********
==================================================== */


.information-img {
    width: 4.375rem;
    height: 4.375rem;
}

.information-heading {
    color: #363958;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 1.5rem;
}

.information-item {
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.05);
    border-radius: 20px;
    padding: 1.5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}